.signin {
  margin-top: 120px;
  padding: 100px 0 150px;
  background-image: url("../images/signin_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*스크롤할 때 배경이미지가 뷰포트에 고정되게 만들기*/
  background-size: cover; /*넓은 너비의 이미지가 맞춰지도록*/
}
.signin h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.signin__card { /*.signin .signin__card 라고 안 하는 이유는 중복되기 때문*/
  /*.signin__card로 충분히 명시하고 있기 때문에 필요 없다*/
  width: 500px;
  margin: 0 auto; /*위아래, 좌우 -> 가운데 정렬됨*/
  border-radius: 6px;
  background-color: #f6f5f0;
  /* x축으로 2, y축으로 2, 20px의 흐린 처리, 그림자 색상 지정 */
  box-shadow: 2px 2px 20px rgba(0,0,0,.3); 
  color: #555; /*하위 요소들에 상속되므로 카드 내부의 글자색을 뜻함*/
}
.signin__card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.signin__card h2 strong {
  font-weight: 700;
  color: #006633;
}
.signin__card form {
  padding: 30px 22px; /*내부 여백*/
}
.signin__card form input {
  width: 100%; /*가로 너비를 최대한 늘려서 사용하겠다*/
  margin-bottom: 12px; /*사이 공간*/
  padding: 15px;
  border-radius: 1px solid #ddd;
  outline: none; /*focus 되었을 때 파란색 실선 나오지 않게*/
  box-sizing: border-box; /*input은 inline 요소 -> 바꿔주기*/
  font-size: 14px;
}
.signin__card form [type="submit"] { /*대괄호가 붙어 있으면 속성 선택자 -> type이 submit인 요소를 선택하는 것*/
  background-color: #006633;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.signin__card form p {
  font-size: 12px;
  color: #006633;
  text-align: center; /*가운데 정렬*/
}
.signin__card .actions { /*회원가입, 아이디 찾기, 비밀번호 찾기*/
  display: flex; /*수평 정렬*/
  border-top: 1px solid #ddd;
}
.signin__card .actions a {
  flex-grow: 1; /*증가 너비 비율이 1*/
  flex-basis: 0; /*기본 너비는 0으로 없는 상태이다*/
  text-align: center; /*글자 가운데 정렬*/
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd; /*구분선 만들어줌*/
}
.signin__card .actions a:last-child {
  border-right: none; /*사이사이에만 필요하니까 마지막 구분선은 지워주기*/
}
.signin__card .actions a:hover {
  text-decoration: underline;
}
